<main>
    <div class="buttons-wrap" id="buttons">
        <div class="options-wrap" id="options">
            <app-options>      
                <app-input-range [min]="0" [max]="700" [step]="0.1" [(inputModel)]="animationSpeed">
                    Function Slowdown
                </app-input-range>   
                <app-input-range [min]="3" [max]="16" [step]="1" [(inputModel)]="numberOfCircles" (input)="initializeTowers()">
                    Array Size
                </app-input-range>
            </app-options>
        </div>
        <button appButtonStroked (click)="startHanoi()">Start Hanoi</button>
    </div>
    <div>
        {{moves}}
    </div>
    <div class="towers" id='hanoi'>
        <div class="tower">
            <span *ngFor="let value of towerA" 
            [style.width] = "value * (32 - numberOfCircles) + 40 + 'px'" 
            [style.height] = "100/numberOfCircles + '%'"
            [style.background-color]="'rgb(0, 255,'+ (128 + value * 8) +')'"></span>
        </div>
        <div class="tower">
            <span *ngFor="let value of towerB" 
            [style.width] = "value * (32 - numberOfCircles) + 40 + 'px'" 
            [style.height] = "100/numberOfCircles + '%'"
            [style.background-color]="'rgb(0, 255,'+ (128 + value * 8) +')'"></span>
        </div>
        <div class="tower">
            <span *ngFor="let value of towerC" 
            [style.width] = "value * (32 - numberOfCircles) + 40 + 'px'" 
            [style.height] = "100/numberOfCircles + '%'"
            [style.background-color]="'rgb(0, 255,'+ (128 + value * 8) +')'"></span>
        </div>
    </div>
    <p>Note: if you go for more than 10 circles, the animation can go on for more than a few minutes</p>
    <app-description>
        <app-content>
            <h1>Hanoi tower</h1>
            <h4>The problem</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad neque at ex repellat voluptates debitis fugiat tempora modi accusantium eum, odio sunt veritatis beatae velit tenetur consequuntur</p>

            <img src="assets/images/algorithms/hanoi.png" alt="">
            <app-code>
                <pre>
    numberOfCircles = 3;
    towerA: number[] = [];
    towerB: number[] = [];
    towerC: number[] = [];

    startHanoi(): void&#123;
        this.initializeTowers();
        this.hanoi(this.numberOfCircles, this.towerA, this.towerB, this.towerC);
    &#125; 

    initializeTowers(): void&#123;
        this.towerA = new Array(this.numberOfCircles).fill(0).map((x, i) => i);
        this.towerB = [];
        this.towerC = [];
    &#125; 

    hanoi(n: number, A: number[], B: number[], C: number[])&#123;
        if (n > 0)&#123;
            <b>this.hanoi(n - 1, A, C, B);
            C.unshift(A.shift() || 0);
            this.hanoi(n - 1, B, A, C);</b>
        &#125; 
    &#125;                
                </pre>
            
            </app-code>
        </app-content>
    </app-description>
</main>
