main{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    .buttons-wrap{
        position: fixed;
        display: flex;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);

        button{
            margin: 0.3rem;
        }
    }

    .options-wrap{
        position: absolute;
        right: 100%;
        top: 0;
         
    }
    

    app-description{
        width: 40vw;
        top: 100%;
        margin-top: 100vh;
        position: relative;
    }

    canvas{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;

    }        
    .loading{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: 3rem;
        width: 3rem;
        background-color: white;
        z-index: 4;
    }

    .pick-category{
        width: 100%;
        display: flex;
        margin-bottom: 0.5rem;
        padding-bottom: 1rem;
        border-bottom: 3px solid rgb(51, 51, 51);

        button{
            font-size: 2rem;
            &.active{
                border: 1px solid black;
            }
        }
    }

}