main{
    width: 100%;
    position: relative;
    
}

.content{
    width: 100%;
    position: relative;
    word-break: break-all;
    white-space: pre-wrap;

    border: 3px solid var(--colorSecondary);
    padding: 2rem;

    ::ng-deep{
        img{
            width: 100%;
        }
    }

}