<nav>
    <div class="field" [ngClass]="{'active': checkIfActive('algorithms')}">
        <div class="field-name"  routerLinkActive="active"> 
            <img src="assets/icons/algorithms.svg" alt="">
            <a [routerLink]='["algorithms"]' routerLinkActive="active">Algorithms</a> 
            <img src="assets/icons/arrow-right.svg" (click)='addActiveCategory("algorithms")' alt="">
        </div>
        <div class="concepts">
            <a [routerLink]='["algorithms/hanoi"]' routerLinkActive="active">Hanoi</a>
            <a [routerLink]='["algorithms/sorting"]' routerLinkActive="active">Sorting</a>
            <a [routerLink]='["algorithms/monte-carlo"]' routerLinkActive="active">Monte carlo</a>
        </div>
        <span class="square">

        </span>
    </div>
    <div class="field" [ngClass]="{'active': checkIfActive('chaos')}">
        <div class="field-name"  routerLinkActive="active"> 
            <img src="assets/icons/chaosTheory.svg" alt="">
            <a [routerLink]='["algorithms"]' routerLinkActive="active">Dynamical Systems</a> 
            <img src="assets/icons/arrow-right.svg" (click)='addActiveCategory("chaos")' alt="">
        </div>
        <div class="concepts">
            <a [routerLink]='["algorithms/hanoi"]' routerLinkActive="active">Lorenz attractor</a>
            <a [routerLink]='["algorithms/sorting"]' routerLinkActive="active">Ablion sandpile</a>
            <a [routerLink]='["algorithms/monte-carlo"]' routerLinkActive="active">Double pendulum</a>
        </div>
        <span class="square">

        </span>
    </div>
    <div class="field" [ngClass]="{'active': checkIfActive('combinatorics')}">
        <div class="field-name"  routerLinkActive="active"> 
            <img src="assets/icons/graphTheory.svg" alt="">
            <a [routerLink]='["algorithms"]' routerLinkActive="active">Dynamical Systems</a> 
            <img src="assets/icons/arrow-right.svg" (click)='addActiveCategory("combinatorics")' alt="">
        </div>
        <div class="concepts">
            <a [routerLink]='["algorithms/hanoi"]' routerLinkActive="active">Pathfinding</a>
            <a [routerLink]='["algorithms/sorting"]' routerLinkActive="active">Knight's tour</a>
        </div>
        <span class="square">

        </span>
    </div>
</nav>