 
nav{
    left: 0vw;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(46, 46, 46);
    transition: 0.5s ease;
    max-width: 60px;
    overflow: hidden;
    
    padding: 1rem 1rem;
    z-index: 100;

    &:hover{
        max-width: 250px;
    }

    .field{
        padding: 0.5rem 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        overflow: hidden;
        flex-wrap: nowrap;
        width: 100%;

        &.active{
            .concepts{
                max-height: 200px;
            }

            >a{
                img{
                    &:last-of-type{
                        transform: rotate(90deg);
                    }
                }
            }
        }

        a{
            text-decoration: none;
            font-size: 1rem;
            color: var(--colorText);
            margin: 0.5rem 0;
            opacity: 0.3;
            transition: 0.3s;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            left: 0;

            &.active{
                opacity: 1;
            }

            span{
                white-space: nowrap;
            }

            img{
                height: 1rem;
                filter: invert(100%);
                transition: 0.3s ease;

                &:first-of-type{
                    margin-right: 1rem;
                }

                &:last-of-type{
                    margin-left: 1rem;
                }
            }
        }

        .concepts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            margin-left: 2rem;
            max-height: 0;
            transition: 0.4s ease;
            overflow: hidden;

            a{
                font-size: 1rem;
            }
        }

        
    }

    .square{

    }

}