main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 2rem;

    ::ng-deep{
        font-size: 1rem;
        overflow-wrap: break-word;
        word-break: break-all;

        h1{
            font-size: 5rem;
        }

        app-code{
            width: 100%;
            overflow: auto;
        }
    }
}
