main{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    .buttons-wrap{
        position: fixed;
        display: flex;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);

        button{
            margin: 0.3rem;
        }
    }

    .options-wrap{
        position: absolute;
        right: 100%;
        top: 0;
         
    }
    
    .sortingColumns{
        height: 50vh;
        width: 50vw;
        top: 30%;
        left: 25%;
        position: fixed;
        display: flex;
        flex-wrap: nowrap;
        transform: scaleY(-1);
        backface-visibility: hidden;
        z-index: -1;

        >span{
            display: flex;
            flex: 1 1 0.5rem;
            margin: 1px;
            background-color: white;
            transition: 0.01s ease height;
            position: relative;
            overflow: hidden;
            bottom: 0;
            height: 0%;
            border-radius: 3px;

            span{
                position: relative;
                height: 100%;
                width: 100%;

                &.active{
                    background-color: var(--colorAccent1);
                }
            }
        }

        .swaps{
            position: absolute;
            left: 50%;
            top: -5%;
            transform: translate(-50%,-50%) scaleY(-1);
        }
    }

    app-description{
        width: 40vw;
        top: 100%;
        margin-top: 100vh;
        position: relative;
    }

}