<main>
    <button (click)="resetArray()">Reset</button>
    <button (click)="stopAnimation = false;bubbleSort()">Bubble sort</button>
    <button (click)="stopAnimation = false;quickSort(valueArray, 0, valueArray.length - 1);">Quick sort</button>
    <button (click)="stopAnimation = false;getMergedArray(valueArray)">Merge sort</button>
    <div class="options-wrap">
        <app-options>   
            <app-input-range [min]="0" [max]="500" [(inputModel)]="animationSpeed">
                Function slowdown
            </app-input-range>      
            <app-input-range [min]="0" [max]="0.5" [step]="0.01" [(inputModel)]="transitionSpeed">
                Transition duration
            </app-input-range>   
            <app-input-range [min]="8" [max]="200" [step]="1" [(inputModel)]="arraySize" (input)="reinitializeArrays()">
                Array size
            </app-input-range>  
        </app-options>
    </div>

    <div>{{swaps}}</div>
    <div class="sortingColumns" >
        <span 
        class="column" 
        *ngFor='let value of dummyArray; index as i' 
        [style.height]='valueArray[i] + "%"'
        [style.transition-duration] ='transitionSpeed + "s"'
        [style.background-color]="'rgb(0, 255,'+ (128 + valueArray[i] * 1) +')'"
        >
            <span [ngClass]='activeColumns.includes(i) ? "active": "normal"'></span>
        </span>
    </div>
    
</main>
