<main>
    <div class="buttons-wrap" id="buttons">
        <div class="options-wrap" id="options">
            <app-options>  
                <app-input-range [min]="1" [max]="10" [step]="0.1" [(inputModel)]="fillSpeed">
                    Fill-up delay
                </app-input-range>      
                <app-input-range [min]="0" [max]="20" [step]="0.1" [(inputModel)]="animationSpeed">
                    Animation Speed
                </app-input-range>   
            </app-options>
        </div>
        <button appButtonStroked (click)="stop()" *ngIf="!stopAnimation">Stop</button>
        <button appButtonStroked (click)="start()" *ngIf="stopAnimation">Start</button>
        <button appButtonStroked (click)="reset()" *ngIf="total > 0">Reset</button>
    </div>
    <div id="PI">PI = {{4*inside/total}}</div>
    <canvas id="canvas"></canvas>

    <app-description>
        <app-content>
            <h1>Monte Carlo method</h1>
            <h3>The problem</h3>
            <p>Have you ever done any sort of math calculation where the end result just isn't right? Have you ever been tired of properly reaching conclusion to the equation? Have you got talent for quickly
                doing hundreds of thousands calculations per second in your head? Well, Monte carlo method is for you.
            </p>
            <h3>The solution</h3>
            <p>Monte Carlo method - equivalent of breaking down the door instead of trying to find the keys in your pockets, just because you have the strength. It sounds stupid, until you realize 
                that sometimes you don't have the keys at all or can't be bothered to look for someone who has. With Monte Carlo method you can approximate solution to any equation (theoretically). How?
                With <b>random chance.</b> Let's assume, for example, that you forgot how to get the disc area but you know how to calculate a square. All you have to do then, is to make a square with side 
                of <b>r*2</b> around the disc in question and then...
            </p>
            <p>Throw darts randomly at the square. Yes, this is it. <b>You throw them until you have large sample size</b> like 1000 or 10000. After that you calculate how many darts landed in the disc versus 
            how many landed in the square but NOT in the disc. The area of your disc will be (r*2)^2 * pointsInside/pointsOutside. Viola! No need for knowledge, just brute forcing yourself towards solution.</p>
            <h3>Usage</h3>

            <h3>Example code</h3>
            <app-code>
                <pre>
    circleRadius = 4;
    squareSide = circleRadius * 2;
    discArea = 0;
    insidePoints = 0;
    outsidePoints = 0;
    totalPoints = 0;

    for(let i = 0; i < 10000; i++)&#123;
        const x = Math.random() * this.squareSide;
        const y = Math.random() * this.squareSide;
        if (Math.pow(x - this.circleRadius, 2) + Math.pow(y - this.circleRadius, 2) < Math.pow(this.circleRadius, 2))&#123;
            this.insidePoints += 1;
        &#125;else&#123;
            this.outsidePoints += 1;
        &#125;
        this.totalPoints += 1;          
    &#125;

    this.discArea = Math.pow(this.squareSide,2) * insidePoints / outsidePoints;
                </pre>
            
            </app-code>
        </app-content>
    </app-description>
</main>
