/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Roboto', sans-serif;
    background-color: var(--colorPrimary);
    color: var(--colorText);

}

html{
    --smallText: calc(0.5rem + 0.1vw);
    --normalText: calc(0.9rem + 0.1vw);
    --bigText: calc(1.2rem + 0.1vw);
    --biggestText: calc(1.5rem + 0.1vw);

    --colorPrimary: #272727;
    --colorSecondary: #2e2e2e;
    --colorText: #F3F3F3;
    --colorAccent1: #FF0090;
    --colorAccent2: #00FFEE;
    --colorAccent3: rgb(0, 255, 128);
}

input,textarea{
    font-family: 'Roboto', sans-serif;
}

button:focus, input:focus, textarea:focus{
    outline: none;
}

a{
    text-decoration: none;
}



*{
    box-sizing: border-box;
}
html{ height: 100%; }

